.card-level1 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  align-items: center;
  transform: scale(0.8);
}

.card-level2 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  align-items: center;
  grid-row-gap: 200px;
  transform: scale(0.8);
}

.card-level3 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  align-items: center;
  grid-row-gap: 200px;
  transform: scale(0.8);
}

.card { 
  transform: scale(0.4);
  position: relative;
  width: 1px;
  height: 250px;
  perspective: 1000px;
  cursor: pointer;
}
  
.card .card-inner {
  position: absolute;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 0.5s;
}

.card.flipped .card-inner {
  transform: rotateY(180deg);
}

.card .card-front,
.card .card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.card .card-front {
  background-color: #ddd;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  color: #333;
}

.card .card-back {
  background-color: #333;
  border-radius: 10px;
}

.card .card-back img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.container {
  background-image: url('../../../../public/images/background.jpg');
  background-size: cover;
  height: 100vh; 
  width: 100vw;
  display: flex;
  justify-content: center;
}

.title {
  color: #22a6e4; 
  text-align: center;
}

.score, .gameTime, .level, .notif2 {
  color: #510c0c; 
  text-align: center;
  font-size: 2vw;
  font-family:'Courier New', Courier, monospace;
  font-weight: bold;
}

.bouttonContainer {
  display: flex;
  justify-content: center;

}

.restartButton, .nextLevelButton, .closeButton {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.restartButton:hover,
.nextLevelButton:hover,
.closeButton:hover {
  /* Button styles on hover */
  background-color: #06830e;
}

.restartButton:active,
.nextLevelButton:active,
.closeButton:active {
  /* Button styles when active */
  background-color: #035408;
  color: #070606;
}

.notif {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 300px; 
  height: 100px; 
  padding: 10px; 
  background-color: #f2f2f2; 
  border-radius: 8px; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
  font-size: 17px; 
  color: #333;
}

.notifContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999; 
}