* {
  text-align: center;
}

.ranking {
  color:crimson; 
  width: 100%;
  padding: 25px 50px 25px 50px; 
  border: 1px solid red;
  border-spacing: 0;
  border-collapse: collapse;
}

.game {
  border: 1px solid;
  border-radius: 5px;
}

.tableBody {
  border: 1px solid blue;
}

.tableHeader {
  border: 1px solid red;
}

